.loading-spinner-dialog {
  background-color: transparent !important;
  box-shadow: none !important;
}

.loading-spinner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: transparent;
}
